<div class="flex justify-between">
    <div>
        <h1 class="text-4xl font-semibold">
            Dashboard
        </h1>
        <div class="text-gray-600">
            Bird's eye view of the system
        </div>
    </div>
</div>